<div class="layout">

  <div class="layout-body">
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

    <nav class="sidebar">
      <h2>DramsSellers</h2>
      <a routerLink="/dashboard" class="sidebar-link">Dashboard</a>
<!--      <a routerLink="/profile" class="sidebar-link">Profile</a>-->
<!--      <a routerLink="/orders" class="sidebar-link">Orders</a>-->
      <a routerLink="/vendor/create" class="sidebar-link">Create Vendor</a>
      <a routerLink="/item/add" class="sidebar-link">Create Item</a>
      <a routerLink="/statistics" class="sidebar-link">Statistics</a>
      <button (click)="logout()" class="sidebar-link">Logout</button>
    </nav>
  </div>
</div>
