.statistics-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1.5rem;
  text-align: center;
}

p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 2rem;
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
