<div class="dashboard-container">
  <h2>Unique Gifts</h2>

  <div class="items-grid">
    <div class="item-card" *ngFor="let item of items">
      <img [ngSrc]="item.imageUrl" alt="{{ item.name }}" width="300" height="180" class="item-image" />
      <div class="item-content">
        <h3>{{ item.name }}</h3>
        <p class="description">{{ item.description }}</p>
        <div class="price-stock">
          <span class="price">{{ item.price }} EUR</span>
          <span class="stock">Stock: {{ item.stock }}</span>
        </div>

        <button class="delete-button" (click)="deleteItem(item.itemId)">Usuń</button>
      </div>
    </div>
  </div>
</div>
